// Table of Content
// ===============================================
// # Variables
// # Mixins */

// # Variables
// =============================================== */
// No local variables available

// # Mixins
// =============================================== */

@mixin base-typography {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $heading-font-family;
		font-weight: $heading-font-weight;
		line-height: $heading-line-height;
		color: $heading-color;
		@include margin(null null rem(10px));
	}

	h1 {
		text-align: center;
		text-transform: uppercase;
		@include font-size($font-size-h1);
		@include margin(null null rem(20px));
		@include max-screen($breakpoint-phone){
			@include font-size($font-size-h1 - 5);
		}
		@include max-screen($breakpoint-small){
			@include font-size($font-size-h1 - 10);
		}
	}

	h2 {
		@include font-size($font-size-h2);
	}

	h3 {
		@include font-size($font-size-h3);
	}

	h4 {
		@include font-size($font-size-h4);
	}

	h5 {
		@include font-size($font-size-h5);
	}

	h6 {
		@include font-size($font-size-h6);
	}

	p {
		@include margin(0 0 rem(15px));
	}

	strong {
		font-weight: 700;
	}

	em {
		font-style: italic;
	}

	dfn {
		@extend strong;
		@extend em;
	}

	sup,
	sub {
		line-height: 0;
	}
}
