// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.about {
	@extend %content;
	@include padding(rem(120px) null null);
	@include background-image(about-bg, png, left bottom, no-repeat);
	@include max-screen($breakpoint-tablet){
		background-image: none;
		@include padding(0 null null);
	}

	h2 {
		text-transform: uppercase;
		color: $text-color-primary;
		@include font-size($font-size-h1);
		@include margin(rem(27px) null rem(20px));
		@include max-screen($breakpoint-tablet){
			@include font-size($font-size-h1 - 5);
		}
		@include max-screen($breakpoint-phone){
			@include font-size($font-size-h1 - 10);
		}
	}

	h4 {
		font-weight: 500;
		color: $text-color-orange;
		text-transform: uppercase;
		@include font-size(18px);
		@include margin(null null rem(25px));
	}

	p {
		@include margin(null null rem(30px));
	}
}