// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.article {
	&__content {
		@extend %content;
		@include padding(rem(58px) null rem(7px));
		@include max-screen($breakpoint-small){
			@include padding(rem(30px) null null);
		}
	}

	&__content--search {
		@include padding(null null rem(20px));

		h3 {
			@include margin(null null 0);
		}
	}

	&__content--contact {
		@include padding(null null rem(50px));

		h1 {
			@include margin(null null rem(40px));
		}
	}

	&__content--sports {
		p {
			@include margin(null null rem(25px));
		}

		h1 {
			@include margin(null null rem(40px));
		}

		h2 {
			/*text-align: center; */
			@include font-size(22px);
			/* @include margin(null null rem(2px)); */
		}
	}
}
