// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.banner {
	background-size: cover;
	color: $text-color-white;
	background-repeat: no-repeat;
	background-position: center center;
	@include position(relative, null);

	> div {
		display: flex;
		height: rem(320px);
		align-items: flex-end;
		@include padding(rem(50px) null rem(25px));
	}

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background: rgba($color-black, 0.4);
		@include position(absolute, 0 null null 0);
	}

	&:after {
		content: '';
		width: 100%;
		height: rem(13px);
		background: rgba($color-orange, 0.3);
		@include position(absolute, null null 0 0);
		@include max-screen($breakpoint-phone){
			height: rem(7px);
		}
	}

	> div {
		z-index: 1;
		@include position(relative, null);
	}

	h1 {
		font-weight: $heading-font-weight;
		@include font-size(46px);
		@include margin(null null rem(25px));
		@include max-screen($breakpoint-phone){
			line-height: 1.4;
			@include font-size(40px);
		}
	}

	.btn,
	.button {
		min-width: rem(224px);
	}

	&__breadcrumbs {
		font-weight: 600;
		color: $text-color-orange;
		text-transform: uppercase;
		background: rgba($color-white, 0.8);
		@include font-size(16px);
		@include padding(rem(6px) rem(13px));

		.breadcrumb_last,
		a {
			@include margin(null rem(4px));
		}
	}

	&--home {
		display: flex;
		flex-wrap: wrap;
		height: rem(443px);
		text-align: center;
		align-items: center;
		@include padding(rem(155px) null rem(30px));
		@include max-screen($breakpoint-tablet){
			height: rem(400px);
		}
		@include max-screen($breakpoint-phone){
			height: auto;
			display: block;
			min-height: rem(300px);
			@include padding(rem(70px) null null);
		}

		> div {
			height: auto;
			display: block;
			@include padding(0 null);
		}
	}
}
