// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.employee {
	@include padding(rem(22px) null rem(45px));

	&__filter {
		@include margin(null null rem(32px));

		li {
			@include padding(null null rem(10px));

			a {
				display: block;
				text-align: center;
				@extend .btn;
				@extend .btn-default-o;
				@include padding(null rem(5px));
			}

			&.is-active {
				a {
					@extend .btn-default-o:hover;
				}
			}
		}
	}

	&__list {
		@include position(relative, null);

		li {
			@include position(static, null);
			@include margin(null null rem(30px));
		}
	}

	&__block {
		text-align: center;
		color: $text-color-white;
		@include position(relative, null);

		img {
			width: 100%;
		}

		h4 {
			width: 100%;
			font-weight: $headings-font-weight;
			@include font-size(20px);
			@include padding(rem(60px) rem(10px) null);
		}

		h3 {
			font-weight: 600;
			color: $text-color-primary;
			@include font-size(28px);
			@include position(absolute, null null 0 0);
		}

		section {
			width: 100%;
			font-weight: 400;
			line-height: 1.45;
			background: $color-primary;
			@include font-size(14px);
			@include padding(rem(13px) rem(10px));
		}

		.is-overlay {
			opacity: 0;
			display: flex;
			flex-wrap: wrap;
			text-align: center;
			align-content: space-between;
			background: rgba($color-primary, 0.8);
			transition: $base-duration $base-timing;
			@include position(absolute, 0);
		}

		&:hover {
			.is-overlay {
				opacity: 1;
			}
		}
	}

	&__quote {
		width: 100%;
		font-weight: 600;
		text-align: center;
		color: $text-color-primary;
		@include font-size(28px);
		@include padding(rem(32px) 15px);
	}
}
