// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.footer {
	color: $text-color-white;
	@include position(relative, null);

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background: rgba($color-gray-light, 0.8);
		@include position(absolute, 0 null null 0);
	}

	> div {
		z-index: 1;
		@include position(relative, null);
	}

	&__widgets {
		line-height: 1.6;
		font-weight: 400;
		@include font-size(16px);
		@include padding(rem(50px) null null);
		@include max-screen($breakpoint-small){
			@include padding(rem(30px) null null);
		}

		a {
			color: $text-color-white;

			i {
				min-width: rem(20px);
				color: $text-color-orange;
			}

			&:hover {
				color: $text-color-orange;
			}
		}

		p {
			&.title {
				min-height: rem(47px);
				color: $text-color-orange;
				font-weight: $heading-font-weight;
				@include font-size(18px);
				@include padding(rem(8px) null null rem(16px));
				@include background-image(title-bg, png, left top, no-repeat, rem(42px));
			}
		}

		address {
			@include margin(null null rem(25px));
		}

		section {
			@include margin(null null rem(50px));
			@include max-screen($breakpoint-small){
				@include margin(null null rem(25px));
			}

			&:nth-child(1) {
				@extend .col-xl-4;
				@extend .col-lg-3;
				@extend .col-sm-6;
			}

			&:nth-child(2) {
				@extend .col-xl-3;
				@extend .col-lg-4;
				@extend .col-sm-6;
			}

			&:nth-child(3) {
				@extend .col-lg-3;
				@extend .col-sm-6;
			}

			&:nth-child(4) {
				@extend .col-lg-2;
				@extend .col-sm-6;
			}
		}

		.widget_media_gallery {
			.gallery {
				display: flex;
				flex-wrap: wrap;
				max-width: 150px;
				@include margin(null rem(-7px));

				.gallery-item {
					@include padding(null rem(7px));
					@include margin(null null rem(8px));
				}

				&.gallery-columns-2 {
					.gallery-item {
						width: 50%;

						img {
							width: 100%;
						}
					}
				}
			}
		}
	}

	&__copyright {
		font-weight: 600;
		border-top: 1px solid $color-white;
		@include font-size(16px);
		@include padding(rem(22px) null);
		@include max-screen($breakpoint-phone){
			text-align: center;
		}

		ol,
		p {
			@include margin(null null 0);
			@include max-screen($breakpoint-phone){
				@include margin(rem(5px) null);
			}
		}

		span {
			color: $text-color-orange;
		}

		a {
			&:hover {
				color: $text-color-white;
			}
		}

		ol {
			text-align: right;
			color: $text-color-orange;
			@include margin(null rem(-3px));
			@include max-screen($breakpoint-phone){
				text-align: center;
			}

			li {
				display: inline-block;
				@include padding(null rem(3px));
			}
		}
	}
}
