// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.header {
	z-index: 999;
	background: $color-white;
	@include position(relative, null);
	@include padding(null null rem(2px));
	@include max-screen($breakpoint-small){
		@include padding(null null rem(5px));
	}

	.container {
		@include position(relative, null);
	}

	&__top {
		font-weight: 400;
		color: $text-color-white;
		background: $color-primary;
		@include max-screen($breakpoint-phone){
			text-align: center;
			@include padding(rem(10px) null null);
		}

		ul {
			@include margin(null null 0);
			@include max-screen($breakpoint-phone){
				@include margin(null null rem(10px));
			}

			li {
				display: inline-block;
				@include max-screen($breakpoint-phone){
					display: block;
				}

				&:after {
					content: '';
					width: rem(4px);
					height: rem(4px);
					border-radius: 50%;
					vertical-align: middle;
					display: inline-block;
					background: $color-white;
					@include margin(null rem(5px));
					@include max-screen($breakpoint-phone){
						display: none;
					}
				}

				&:last-child {
					&:after {
						display: none;
					}
				}

				i {
					@include font-size(16px);
					@include margin(null rem(3px) null null);
				}

				a {
					color: $text-color-white;

					&:hover {
						color: $text-color-orange;
					}
				}
			}
		}

		form {
			width: 100%;
			float: right;
			max-width: rem(290px);
			@include position(relative, null);
			@include max-screen($breakpoint-phone){
				max-width: 100%;
				float: none;
			}

			input[type="text"]{
				border: 0;
				outline: 0;
				width: 100%;
				font-weight: 500;
				height: rem(48px);
				font-family: $font-family-base;
				color: rgba($text-color-white, 0.5);
				background: rgba($color-white, 0.08);
				@include font-size(16px);
				@include padding(rem(5px) rem(50px));

				&::placeholder {
					color: rgba($text-color-white, 0.5);
				}
			}

			[type="submit"]{
				border: 0;
				outline: 0;
				transform: translateY(-50%);
				background-color: transparent;
				color: rgba($text-color-white, 0.5);
				@include font-size(16px);
				@include position(absolute, 50% null null rem(28px));
			}
		}

	}

	&__tool {
		@include max-screen($breakpoint-phone){
			display: flex;
			@include margin(null -15px);
		}

		.is-toggle {
			display: none;
			width: rem(120px);
			font-weight: 700;
			white-space: nowrap;
			align-items: center;
			color: $text-color-white;
			text-transform: uppercase;
			background: $color-orange;
			@include font-size(18px);
			@include padding(null rem(15px));
			@include max-screen($breakpoint-phone){
				display: flex;
			}

			i {
				@include margin(null rem(10px) null null);
			}
		}
	}

	&__logo {
		z-index: 1;
		display: block;
		max-width: rem(361px);
		@include position(relative, null);
		@include margin(rem(7px) null rem(-5px));
		@include max-screen($breakpoint-phone){
			@include margin(null null 0);
		}
		@include max-screen($breakpoint-small){
			@include margin(rem(20px) auto);
		}
	}

	&__main {
		@include padding(rem(8px) null null);

		.btn,
		.button {
			min-width: rem(172px);
			@include margin(null rem(11px));
			@include max-screen($breakpoint-tablet){
				min-width: 0;
				@include margin(null rem(5px));
			}
			@include max-screen($breakpoint-small){
				width: 100%;
				@include margin(rem(10px) 0);
			}

			&:first-of-type {
				@include margin(null null null rem(20px));
				@include max-screen($breakpoint-desktop){
					@include margin(null null null 0);
				}
			}
		}

		.is-toggle {
			z-index: 9;
			font-weight: 700;
			white-space: nowrap;
			align-items: center;
			color: $text-color-base;
			text-transform: uppercase;
			@include font-size(18px);
			@include position(relative, null);
			@include max-screen($breakpoint-phone){
				display: none;
			}

			i {
				min-width: rem(20px);
				@include margin(null rem(3px) null null);
			}

			&.is-active {
				i {
					&:before {
						content: '\f00d';
					}
				}
			}
		}
		.col-sm-4 {
			@media all and (min-width: 400px) and (max-width: 620px) {
				-ms-flex: 0 0 33.3333333333%;
				flex: 0 0 33.3333333333%;
				max-width: 33.3333333333%;
			}
		}
		.col-sm-8 {
			@media all and (min-width: 400px) and (max-width: 620px) {
				-ms-flex: 0 0 66.6666666667%;
				flex: 0 0 66.6666666667%;
				max-width: 66.6666666667%;
				text-align: right!important;
			}
			.btn {
				@media all and (max-width: 620px) {
					width: auto;
				}
			}
		}
	}

	&__menu {
		width: 100%;
		display: none;
		max-width: rem(885px);
		background: $color-primary;
		@include margin(1px null null);
		@include padding(rem(25px) rem(55px) rem(20px));
		@include position(absolute, 100% 15px null null);
		@include max-screen($breakpoint-tablet){
			max-width: rem(738px);
		}
		@include max-screen($breakpoint-phone){
			display: none!important;
		}

		> ul {
			column-count: 3;
			column-gap: rem(100px);
			column-rule: 1px solid rgba($color-white, 0.6);
			@include margin(null null 0);
			@include max-screen($breakpoint-tablet){
				column-gap: rem(50px);
			}

			> li {
				width: 100%;
				min-height: 182px;
				display: inline-block;
				@include padding(rem(20px) null null);

				> a {
					font-weight: 700;
					letter-spacing: 0.9px;
					color: $text-color-white;
					@include font-size(24px);

					&:after {
						content: '.';
						color: $text-color-orange;
					}
				}

				> ul {
					@include padding(rem(12px) null null);

					> li {
						@include margin(null null rem(5px));

						> a {
							font-weight: 400;
							letter-spacing: 0.7px;
							display: inline-block;
							color: $text-color-white;
							@include position(relative, null);
							@include padding(null null null rem(13px));

							&:before {
								content: '\f0da';
								font-family: FontAwesome;
								color: $text-color-orange;
								@include position(absolute, 0 null null 0);
							}

							&:hover {
								color: $text-color-orange;
							}
						}
					}
				}
			}
		}
	}

	&__shape {
		border: 0;
		width: 100%;
		@include position(absolute, 100% null null 0);
		@include max-screen($breakpoint-small){
			width: auto;
			@include position(absolute, null -5px null -5px);
		}

		&:before {
			opacity: 0;
			z-index: 1;
			content: '';
			transition: 0.1s;
			display: inline-block;
			border: rem(38px) solid transparent;
			border-bottom-color: $color-primary;
			@include position(absolute, null 50% 94% null);
			@include margin(null rem(-543px) rem(-10px) null);
			@include max-screen($breakpoint-desktop){
				right: rem(42px);
				@include margin(null 0 null null);
			}
			@include max-screen($breakpoint-tablet){
				border-width: 30px;
				right: rem(52px);
			}
			@include max-screen($breakpoint-phone){
				display: none;
			}
		}

		img {
			float: left;
			width: 100%;
			transform: translateY(-2px);

			&.is-desktop {
				display: block;
				@include max-screen($breakpoint-small){
					display: none;
				}
				@media all and (min-width: 400px)and (max-width: 620px) {
					display: block;
				}
			}

			&.is-phone {
				display: none;
				@include max-screen($breakpoint-small){
					display: block;
				}
				@media all and (min-width: 400px) and (max-width: 620px) {
					display: none;
				}
			}
		}
		@media all and (min-width: 400px) and (max-width: 620px) {
			border: 0;
			width: 100%;
			position: absolute;
			top: 100%;
			left: 0;
		}
	}

	&__shape--active {
		&:before {
			opacity: 1;
		}
	}

	&__nav {
		display: none;
	}

	&__tag {
		z-index: 99;
		display: flex;
		font-weight: 400;
		height: rem(47px);
		align-items: center;
		color: $text-color-white;
		background: $color-primary;
		border-radius: 0 0 10px 10px;
		transform: translate(-50%, -50%) rotate(-90deg);
		@include font-size(18px);
		@include padding(rem(10px) rem(20px));
		@include position(fixed, 50% null null rem(20px));
		@include max-screen($breakpoint-phone){
			display: none;
		}
		a {
			color: $color-white;
		}
	}
}

.mm-opened {
	.header {
		.header__tool {
			.is-toggle {
				i {
					&:before {
						content: '\f00d';
					}
				}
			}
		}
	}
}