// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.newsletter {
	color: $text-color-white;
	background: $color-primary;
	@include padding(rem(42px) null);
	@include max-screen($breakpoint-tablet){
		text-align: center;
	}

	h3 {
		font-weight: $heading-font-weight;
		@include font-size(24px);
		@include margin(null null 0);
	}

	input[type="text"],
	input[type="email"]{
		border: 0;
		outline: 0;
		width: 100%;
		font-weight: 600;
		height: rem(50px);
		color: $text-color-primary;
		@include font-size(18px);
		@include padding(rem(10px) rem(10px));
		@include max-screen($breakpoint-tablet){
			@include margin(rem(10px) null);
		}

		&::placeholder {
			color: $text-color-gray;
		}
	}

	[type="submit"]{
		cursor: pointer;
		font-weight: 600;
		height: rem(50px);
		min-width: rem(230px);
		background: transparent;
		color: $text-color-white;
		border: 1px solid $color-white;
		@include font-size(18px);
		@include padding(rem(8px) rem(20px));

		&:hover {
			background: $color-orange;
			border-color: $color-orange;
		}
	}

	.mc4wp-response {
		text-align: center;
		@include padding(rem(10px) null null);
	}
}
