// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.request {
	@include position(relative, null);
	@include padding(rem(95px) null rem(80px));
	@include max-screen($breakpoint-tablet){
		@include padding(rem(50px) null);
	}
	@include max-screen($breakpoint-small){
		@include padding(null null rem(20px));
	}

	&:after {
		content: '';
		height: 2px;
		display: block;
		background: rgba($color-black, 0.08);
		@include position(absolute, null 0 0 0);
		@include max-screen($breakpoint-desktop){
			left: 15px;
			right: 15px;
		}
	}

	h2 {
		text-transform: uppercase;
		color: $text-color-primary;
		font-weight: $heading-font-weight;
		@include font-size($font-size-h2);
		@include margin(rem(7px) null rem(18px));
		@include max-screen($breakpoint-tablet){
			@include font-size($font-size-h2 - 5);
		}
	}

	img {
		@include margin(null null rem(25px));
	}

	&__content {
		@include padding(null null null 0);
		@include max-screen($breakpoint-desktop){
			@include padding(null null null 15px);
		}

		.btn,
		.button {
			min-width: rem(227px);
			text-transform: uppercase;
			@include max-screen($breakpoint-small){
				width: 100%;
			}
		}
	}
}