// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.service {
	@include padding(rem(40px) null rem(20px));

	ul {
		@include margin(null null 0);
		@include position(relative, null);

		&:after {
			content: '';
			height: 2px;
			display: block;
			background: rgba($color-black, 0.08);
			@include position(absolute, null 0 0 0);
			@include max-screen($breakpoint-desktop){
				left: 15px;
				right: 15px;
			}
		}

		li {
			@include position(relative, null);
			@include margin(null null rem(55px));
			@include max-screen($breakpoint-small){
				@include margin(null null rem(40px));
			}

			a {
				display: block;
				text-indent: -9999px;
				@include position(absolute, 0);
			}

			p {
				max-width: 280px;
				@include margin(null auto);
			}

			h3 {
				color: $text-color-primary;
				text-transform: uppercase;
				font-weight: $heading-font-weight;
				@include font-size(26px);
				@include margin(null null rem(15px));
			}

			figure {
				display: flex;
				flex-wrap: wrap;
				height: rem(355px);
				align-items: flex-end;
				justify-content: center;
				@include position(relative, null);
				@include margin(null null rem(40px));
				@include max-screen($breakpoint-small){
					height: auto;
				}

				&:before {
					opacity: 0;
					content: '';
					width: 100%;
					height: 100%;
					display: block;
					transition: $base-duration $base-timing;
					@include position(absolute, null null 0 0);
					@include background-image(service-hover, png, center bottom, no-repeat, auto);
					@include max-screen($breakpoint-phone){
						background-size: contain;
					}
				}

				img {
					max-height: 100%;
					@include margin(null auto);
				}
			}

			&:hover {
				figure {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}
