// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.timetable {
  @include margin(rem(125px) null null);
  @include max-screen($breakpoint-tablet){
    @include margin(rem(30px) null null);
  }
  @include max-screen($breakpoint-phone){
    @include margin(0 null null);
  }
  @include max-screen($breakpoint-small){
    @include margin(rem(125px) null null);
  }

  &__title.toggle-down:after {
      content: "\f078";
      font-family: fontawesome;
      font-size: 14px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      color: $color-white;
    }
  &__title.toggle-up:after {
      content: "\f077";
      font-family: fontawesome;
      font-size: 14px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      color: $color-white;
    }


  h3 {
    text-transform: uppercase;
    color: $color-white;
    @include font-size(18px);
    @include margin(10px null null null);
  }
  &__table-res {
    padding: 0;
    @include max-screen($breakpoint-phone) {
      overflow-x: scroll;
    }
    @include max-screen($breakpoint-small) {
      overflow-x: scroll;
    }
  }
  &__content {
    display: table;
    width: 100%;
    table-layout: fixed;

    @include max-screen($breakpoint-tablet) {
      @include padding(rem(20px) null null 5px);

    } /*
    @include max-screen($breakpoint-phone) {
      width: auto;
    } */
    @media all and (max-width: 440px){
      width: auto;

    }
  }
  &__row-bg-pattern {
    cursor: pointer;
    margin-bottom: 20px;
    @include max-screen($breakpoint-desktop) {
      padding-left: 15px;
      padding-right: 15px;

    }
  }
  &__day-heading {
    background: $color-orange;
  }
  /*
  &__row-bg-pattern:nth-child(2n){
    background: $color-gray;
  } */
  &__row {
    display: table-row;
  }
  &__row:nth-child(2n) {
    background: $color-gray;
  }
  &__heading {
    display: table-row;
    font-weight: $heading-font-weight;
  }
  &__cell {
    display: table-cell;
    padding: 15px;
    p {
      margin-bottom: 0;
    }
    @include max-screen($breakpoint-phone) {
      @include padding(null rem(10px) null rem(10px));
    }
    @include max-screen($breakpoint-small) {
      @include padding(null rem(10px) null rem(10px));
    }
  }
}
