// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.trial {
	background: $color-gray;
	@include margin(rem(125px) null null);
	@include max-screen($breakpoint-tablet){
		@include margin(rem(30px) null null);
	}
	@include max-screen($breakpoint-phone){
		@include margin(0 null null);
	}
	@include max-screen($breakpoint-small){
		@include margin(rem(125px) null null);
	}

	img {
		@include margin(rem(-125px) auto null);
	}

	h3 {
		text-transform: uppercase;
		color: $text-color-primary;
		@include font-size(18px);
		@include margin(null null rem(28px));
	}

	&__content {
		@include padding(rem(30px) null null rem(70px));
		@include max-screen($breakpoint-desktop){
			max-width: 578px;
		}
		@include max-screen($breakpoint-tablet){
			max-width: 450px;
			@include padding(rem(30px) null null 15px);
		}
		@include max-screen($breakpoint-phone){
			max-width: 350px;
		}
		@include max-screen($breakpoint-small){
			max-width: 100%;
		}

		form {
			@include position(relative, null);
			@include padding(rem(20px) null null);

			.form-field {
				@include margin(null null 0);

				.frm_primary_label {
					display: none;
				}

				input[type="text"],
				input[type="password"],
				input[type="email"] {
					border: 0;
					font-weight: 300;
					height: rem(46px);
					border-radius: 10px;
					box-shadow: none !important;
					@include font-size(18px);
					@include padding(null rem(20px));

					&::placeholder {
						color: $text-color-gray-alt !important;
					}
				}
			}

			.frm_submit {
				@include position(absolute, null 0 rem(30px) null);
				@include max-screen($breakpoint-phone){
					bottom: rem(33px);
				}
				@include max-screen($breakpoint-phone){
					bottom: rem(33px);
				}
				@include max-screen(600px){
					text-align: right;
					@include position(static, null);
				}

				[type="submit"]{
					min-width: rem(290px);
					@extend .btn;
					@extend .btn-default;
					@include max-screen($breakpoint-desktop){
						min-width: rem(240px);
					}
					@include max-screen($breakpoint-tablet){
						min-width: rem(205px);
					}
					@include max-screen($breakpoint-phone){
						min-width: rem(178px);
					}
					@include max-screen(600px){
						@include margin(0 null rem(10px))
					}
				}
			}

			.frm_form_fields {
				fieldset {
					@include padding(null null rem(10px));
				}
			}
		}
	}

	&--contact {
		@include max-screen($breakpoint-small){
			@include margin(0 null null);
		}

		img {
			@include max-screen($breakpoint-small){
				@include margin(0 null null);
			}
		}

		.trial__content {
			max-width: 626px;
			@include padding(null null null 15px);
			@include max-screen($breakpoint-desktop){
				max-width: 525px;
			}
			@include max-screen($breakpoint-tablet){
				max-width: 450px;
				@include padding(rem(30px) null null 15px);
			}
			@include max-screen($breakpoint-phone){
				max-width: 350px;
			}
			@include max-screen($breakpoint-small){
				max-width: 100%;
			}
		}
	}
}
