// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.tablepress {
  .column-1,
  .column-2,
  .column-3 {
    width: 33.3%!important;
  }
  thead th {
    background-color: $color-orange!important;
    color: $color-white;
  }
  thead th:not(:last-of-type) {
    border-right: 1px solid $color-white;
  }
  tbody td {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
}
@include max-screen($breakpoint-small){
  .dataTables_wrapper {
    overflow-x: scroll;
  }
}