// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

* {
	box-sizing: border-box;
	@include margin(0);
	@include padding(0);

	&:before,
	&:after {
		box-sizing: border-box;
		@include margin(0);
		@include padding(0);
	}
}

html,
body {
	font-weight: 300;
	font-size: $em-base;
	color: $text-color-base;
	background-color: $page-bg;
	font-family: $font-family-base;
	line-height: $line-height-base;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	@include max-screen($breakpoint-tablet) {
		font-size: ceil($em-base * 0.95);
	}
	@include max-screen($breakpoint-phone) {
		font-size: ceil($em-base * 0.85);
	}
}

a {
	color: $link-color-base;
	text-decoration: $link-decoration-base;
	transition: color $base-duration $base-timing, border-color $base-duration $base-timing,
    background-color $base-duration $base-timing;

	&:hover {
		color: $link-hover-color-base;
		text-decoration: $link-hover-decoration-base;
	}
}

img {
	height: auto;
	max-width: 100%;
}

.clear {
	@include clearfix;
}

.container {
	width: 100%;
	max-width: $width-base + 30;
}
