// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.wrapper {
	width: 100%;
	overflow: hidden;
	background-color: $page-bg;
	@include font-size($font-size);
}
